
body {
    background: #50E3C2;
    margin: 0;
}
.section1 {
     background: #4A90E2;
     width: 33%;
     height: 100vh;
}


.section3 {
    background: #D8E976;
     width: 33%;
     position: absolute;
     right: 0;
     height: 100vh;
}
.section2 {
    background: red;
    width: 33%;
    height: 30vh;
    position: absolute;
    right: 0;
    bottom: 0;
}
p {
    color: white;
    text-align: center;
    font-family: sans-serif;
    padding-top: 20%;
    font-size: 25px;
}
