    html, body {
        height: 100%;
        margin: 0px;
    }

.container {
    height: 100%;
    width: 100%;
    background: lightgray;

}

.top {
    height: 16%;
    background: gray;
}
.middle {
    height: 76%;
    width: 68%;
    margin: auto;
    background: white;
}

.bottom{
    background: black;
    height: 9%;
    width: 68%;
    margin: auto;
}




